n8n-docker/workflows/recruitai-cv-pipeline.json
{
  "name": "RecruitAI - CV Processing Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "candidate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b7a5edc1-08e6-4ce7-a71c-f6b7a201a653",
      "name": "Webhook - Receive Candidate",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "recruitai-candidate-webhook"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst data = raw.body || raw;\n\nconst required = ['candidate_id', 'job_id', 'cv_path'];\nfor (const field of required) {\n  if (!data[field]) throw new Error('Missing required field: ' + field);\n}\n\nconst cvUrl = data.cv_path;\nlet fileId = '';\n\n// format: /file/d/ID/view\nconst match = cvUrl.match(/\\/d\\/([a-zA-Z0-9_-]+)/);\nif (match) {\n  fileId = match[1];\n}\n// format: ?id=ID\nelse if (cvUrl.includes('id=')) {\n  const parts = cvUrl.split('id=');\n  fileId = parts[1]?.split('&')[0] || '';\n}\n\nif (!fileId) {\n  throw new Error('Cannot extract Google Drive file ID from: ' + cvUrl);\n}\n\nreturn [{\n  json: {\n    candidate_id: data.candidate_id,\n    candidate_name: data.candidate_name || '',\n    job_id: data.job_id,\n    job_title: data.job_title || data.division || '',\n    job_description: data.job_description || '',\n    key_responsibilities: data.key_responsibilities || '',\n    minimum_qualifications: data.minimum_qualifications || '',\n    threshold_score: parseInt(data.threshold_score) || 70,\n    cv_path: cvUrl,\n    division: data.division || '',\n    gdrive_file_id: fileId,\n    download_url: 'https://drive.google.com/uc?export=download&id=' + fileId\n  }\n}];"
      },
      "id": "942ee099-9e72-4381-9876-82da794ecefb",
      "name": "Code - Validate & Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.download_url }}",
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 5
            }
          },
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "fb0f86c9-893e-4038-9ce5-172e4309b764",
      "name": "HTTP - Download CV PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        480,
        0
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "da4a5c5a-dd36-4b90-b247-922cb3603f5f",
      "name": "Extract from File - PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        720,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const cvText = ($input.first().json.text || '').trim();\nif (!cvText) throw new Error('CV text extraction failed or CV is empty');\nconst jobData = $('Code - Validate & Extract').first().json;\nconst prompt = `You are an AI recruitment assistant evaluating a candidate CV for the position of \"${jobData.job_title || jobData.division}\" at a technology company.\\n\\n## JOB INFORMATION\\nPosition: ${jobData.job_title || jobData.division}\\nDescription: ${jobData.job_description || 'Not provided'}\\nKey Responsibilities: ${jobData.key_responsibilities || 'Not specified'}\\nMinimum Qualifications: ${jobData.minimum_qualifications || 'Not specified'}\\nMinimum passing score: ${jobData.threshold_score}/100\\n\\n## CANDIDATE CV\\n${cvText.substring(0, 6000)}\\n\\n## EVALUATION INSTRUCTIONS\\nEvaluate how well this candidate matches the job requirements.\\nRespond ONLY with valid JSON, no markdown, no explanation outside the JSON:\\n{\\n  \"score\": <integer 0-100>,\\n  \"reasoning\": \"<2-3 sentence summary>\",\\n  \"strengths\": [\"<strength 1>\", \"<strength 2>\"],\\n  \"gaps\": [\"<gap 1>\"]\\n}`;\nconst llmBody = JSON.stringify({\n  model: 'llama3.2',\n  messages: [{ role: 'user', content: prompt }],\n  stream: false,\n  format: 'json',\n  options: { temperature: 0.3 }\n});\nreturn [{ json: { ...jobData, cv_text_preview: cvText.substring(0, 200), llm_request_body: llmBody }}];"
      },
      "id": "eb521609-5669-47d5-8aaa-056b168d5740",
      "name": "Code - Build LLM Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.llm_request_body }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "6ebd588f-bef0-41ca-b294-78cd46de9641",
      "name": "HTTP - LLM Scoring (Ollama)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1200,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const llmResponse = $input.first().json;\nconst jobData = $('Code - Validate & Extract').first().json;\nconst content = llmResponse.message?.content || llmResponse.response || '';\nlet evalResult;\ntry {\n  const cleaned = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  const jsonMatch = cleaned.match(/\\{[\\s\\S]*\\}/);\n  evalResult = JSON.parse(jsonMatch ? jsonMatch[0] : cleaned);\n} catch(e) {\n  evalResult = { score: 50, reasoning: 'Automated review completed. Manual review recommended.', strengths: [], gaps: [] };\n}\nconst score = Math.min(100, Math.max(0, parseInt(evalResult.score) || 0));\nconst threshold = jobData.threshold_score || 70;\nconst status = score >= threshold ? 'accepted' : 'rejected';\nconst updateBody = JSON.stringify({ candidate_id: jobData.candidate_id, score, status, ai_reasoning: evalResult.reasoning || '' });\nreturn [{ json: { candidate_id: jobData.candidate_id, score, status, threshold, ai_reasoning: evalResult.reasoning || '', strengths: evalResult.strengths || [], gaps: evalResult.gaps || [], update_body: updateBody }}];"
      },
      "id": "cdbbe1bd-e3da-40a1-acff-cf08de81e5c6",
      "name": "Code - Parse Score & Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/api/n8n/update-result",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.update_body }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "2fec9bb5-652c-4876-ab7d-8c3c3ee89ab7",
      "name": "HTTP - Update Candidate in Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1680,
        0
      ]
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "47882138-2721-4bf1-bb40-8f74476f4afc",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1920,
        0
      ]
    }
  ],
  "pinData": {
    "Webhook - Receive Candidate": [
      {
        "json": {
          "headers": {
            "content-type": "application/json",
            "user-agent": "Mozilla/5.0 (Windows NT; Windows NT 10.0; en-US) WindowsPowerShell/5.1.26100.8115",
            "host": "localhost:5678",
            "content-length": "404",
            "expect": "100-continue",
            "connection": "Keep-Alive"
          },
          "params": {},
          "query": {},
          "body": {
            "candidate_id": "CND-TEST-001",
            "candidate_name": "Budi Santoso",
            "job_id": "J-AI-001",
            "job_title": "AI Engineer",
            "job_description": "LLM, Python, Machine Learning",
            "minimum_qualifications": "Python, TensorFlow, 2+ years ML experience",
            "threshold_score": 80,
            "cv_path": "https://drive.google.com/uc?export=download&id=YOUR_FILE_ID",
            "division": "AI Engineer"
          },
          "webhookUrl": "http://localhost:5678/webhook/candidate",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook - Receive Candidate": {
      "main": [
        [
          {
            "node": "Code - Validate & Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Validate & Extract": {
      "main": [
        [
          {
            "node": "HTTP - Download CV PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Download CV PDF": {
      "main": [
        [
          {
            "node": "Extract from File - PDF Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File - PDF Text": {
      "main": [
        [
          {
            "node": "Code - Build LLM Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build LLM Prompt": {
      "main": [
        [
          {
            "node": "HTTP - LLM Scoring (Ollama)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - LLM Scoring (Ollama)": {
      "main": [
        [
          {
            "node": "Code - Parse Score & Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Parse Score & Status": {
      "main": [
        [
          {
            "node": "HTTP - Update Candidate in Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Update Candidate in Backend": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "Etc/UTC",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 3600,
    "availableInMCP": false
  },
  "versionId": "bd4427f8-c881-4fef-96c3-e7d3a1e367f3",
  "meta": {
    "instanceId": "8560ccc64edfcdda273aeb154db2d9895569b0feb232aaf23fdb968b63e7fc95"
  },
  "id": "qkshn577mJGzlriY",
  "tags": []
}