n8n-docker/workflows/recruitai-cv-pipeline.json
{
  "name": "RecruitAI - CV Processing Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "candidate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "2ed975b6-6ef0-43aa-8166-c29fbcb50821",
      "name": "Webhook - Receive Candidate",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2160,
        128
      ],
      "webhookId": "recruitai-candidate-webhook"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst data = raw.body || raw;\n\nconst required = ['candidate_id', 'job_id', 'cv_path'];\nfor (const field of required) {\n  if (!data[field]) throw new Error('Missing required field: ' + field);\n}\n\nconst cvUrl = data.cv_path;\nlet fileId = '';\n\n// format: /file/d/ID/view\nconst match = cvUrl.match(/\\/d\\/([a-zA-Z0-9_-]+)/);\nif (match) {\n  fileId = match[1];\n}\n// format: ?id=ID\nelse if (cvUrl.includes('id=')) {\n  const parts = cvUrl.split('id=');\n  fileId = parts[1]?.split('&')[0] || '';\n}\n\nif (!fileId) {\n  throw new Error('Cannot extract Google Drive file ID from: ' + cvUrl);\n}\n\nreturn [{\n  json: {\n    candidate_id: data.candidate_id,\n    candidate_name: data.candidate_name || '',\n    email: data.email || '',\n    job_id: data.job_id,\n    job_title: data.job_title || data.division || '',\n    job_description: data.job_description || '',\n    key_responsibilities: data.key_responsibilities || '',\n    minimum_qualifications: data.minimum_qualifications || '',\n    threshold_score: parseInt(data.threshold_score) || 70,\n    cv_path: cvUrl,\n    division: data.division || '',\n    gdrive_file_id: fileId,\n    download_url: 'https://drive.google.com/uc?export=download&id=' + fileId\n  }\n}];"
      },
      "id": "7a79bfbf-8161-470a-ba56-18675261d981",
      "name": "Code - Validate & Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1920,
        128
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.download_url }}",
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 5
            }
          },
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "006c713f-86a0-488f-9c44-496672dd0d61",
      "name": "HTTP - Download CV PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1680,
        128
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "01df4efb-9c6a-495d-82a6-19742f1cd174",
      "name": "Extract from File - PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1440,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "const cvText = ($input.first().json.text || '').trim();\nif (!cvText) throw new Error('CV text extraction failed or CV is empty');\nconst jobData = $('Code - Validate & Extract').first().json;\nconst prompt = `You are an AI recruitment assistant evaluating a candidate CV for the position of \"${jobData.job_title || jobData.division}\" at a technology company.\\n\\n## JOB INFORMATION\\nPosition: ${jobData.job_title || jobData.division}\\nDescription: ${jobData.job_description || 'Not provided'}\\nKey Responsibilities: ${jobData.key_responsibilities || 'Not specified'}\\nMinimum Qualifications: ${jobData.minimum_qualifications || 'Not specified'}\\nMinimum passing score: ${jobData.threshold_score}/100\\n\\n## CANDIDATE CV\\n${cvText.substring(0, 6000)}\\n\\n## EVALUATION INSTRUCTIONS\\nEvaluate how well this candidate matches the job requirements.\\nRespond ONLY with valid JSON, no markdown, no explanation outside the JSON:\\n{\\n  \"score\": <integer 0-100>,\\n  \"reasoning\": \"<2-3 sentence summary>\",\\n  \"strengths\": [\"<strength 1>\", \"<strength 2>\"],\\n  \"gaps\": [\"<gap 1>\"]\\n}`;\nconst llmBody = JSON.stringify({\n  model: 'llama3.2',\n  messages: [{ role: 'user', content: prompt }],\n  stream: false,\n  format: 'json',\n  options: { temperature: 0.3 }\n});\nreturn [{ json: { ...jobData, cv_text_preview: cvText.substring(0, 200), llm_request_body: llmBody }}];"
      },
      "id": "f59ed5ee-b1d6-4724-87fa-1130f16a32a3",
      "name": "Code - Build LLM Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        128
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.llm_request_body }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "dfb6534a-ae48-4b94-96fc-f9d95c0fa3a3",
      "name": "HTTP - LLM Scoring (Ollama)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -960,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "const llmResponse = $input.first().json;\nconst baseData = $('Code - Build LLM Prompt').first().json;\nconst content = llmResponse.message?.content || llmResponse.response || '';\nlet evalResult;\ntry {\n  const cleaned = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  const jsonMatch = cleaned.match(/\\{[\\s\\S]*\\}/);\n  evalResult = JSON.parse(jsonMatch ? jsonMatch[0] : cleaned);\n} catch (e) {\n  evalResult = { score: 50, reasoning: 'Automated review completed. Manual review recommended.', strengths: [], gaps: [] };\n}\nconst score = Math.min(100, Math.max(0, parseInt(evalResult.score) || 0));\nconst threshold = parseInt(baseData.threshold_score) || 70;\nconst status = score >= threshold ? 'accepted' : 'rejected';\n\nreturn [{\n  json: {\n    ...baseData,\n    score,\n    status,\n    ai_reasoning: evalResult.reasoning || ''\n  }\n}];"
      },
      "id": "6cf29b91-11c2-48f9-bcdf-3e75eed7ae1c",
      "name": "Code - Parse Score & Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        128
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/api/n8n/update-result",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "candidate_id",
              "value": "={{ $json.candidate_id }}"
            },
            {
              "name": "score",
              "value": "={{ $json.score }}"
            },
            {
              "name": "status",
              "value": "={{ $json.status }}"
            },
            {
              "name": "ai_reasoning",
              "value": "={{ $json.ai_reasoning }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "b28f6517-5155-4226-9167-7de6813aa363",
      "name": "HTTP - Update Candidate in Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -480,
        128
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "df975b22-cd77-4bf8-b230-a908467f1454",
      "name": "Merge - Preserve Candidate Context",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -320,
        128
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "value2": "accepted"
            }
          ]
        }
      },
      "id": "9fb40635-2515-48b8-a490-7e5bbbfd416e",
      "name": "IF - Check Accepted",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -240,
        128
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "You Passed Initial Screening",
        "message": "=Hello {{$json.candidate_name}},\n\nCongratulations! You have passed the initial screening for {{$json.job_title}}.\n\nOur team will contact you for the next stage.\n\n- RecruitAI",
        "options": {}
      },
      "id": "e24fc5b4-5432-4217-b6c5-979be293012a",
      "name": "Gmail - Accepted",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "a4e375b6-131d-48e9-a44f-6277dbf1745b",
      "credentials": {
        "gmailOAuth2": {
          "id": "8bcQZW2NdvLA6TwO",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Application Update",
        "message": "=Hello {{$json.candidate_name}},\n\nThank you for applying for {{$json.job_title}}.\n\nWe regret to inform you that you were not selected.\n\nWe wish you success in your future applications.\n\n- RecruitAI",
        "options": {}
      },
      "id": "d62b9aca-8674-4838-93dd-c14ee1f42797",
      "name": "Gmail - Rejected",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        0,
        240
      ],
      "webhookId": "55e14d5c-b9c3-4dd3-973a-251c4f22f330",
      "credentials": {
        "gmailOAuth2": {
          "id": "8bcQZW2NdvLA6TwO",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "169878a8-0f63-4fc2-8d93-c3044deb2525",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        240,
        128
      ]
    }
  ],
  "pinData": {
    "Webhook - Receive Candidate": [
      {
        "json": {
          "headers": {
            "content-type": "application/json",
            "user-agent": "Mozilla/5.0 (Windows NT; Windows NT 10.0; en-US) WindowsPowerShell/5.1.26100.8115",
            "host": "localhost:5678",
            "content-length": "404",
            "expect": "100-continue",
            "connection": "Keep-Alive"
          },
          "params": {},
          "query": {},
          "body": {
            "candidate_id": "CND-TEST-001",
            "candidate_name": "Budi Santoso",
            "email": "budi@example.com",
            "job_id": "J-AI-001",
            "job_title": "AI Engineer",
            "job_description": "LLM, Python, Machine Learning",
            "minimum_qualifications": "Python, TensorFlow, 2+ years ML experience",
            "threshold_score": 80,
            "cv_path": "https://drive.google.com/uc?export=download&id=YOUR_FILE_ID",
            "division": "AI Engineer"
          },
          "webhookUrl": "http://localhost:5678/webhook/candidate",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook - Receive Candidate": {
      "main": [
        [
          {
            "node": "Code - Validate & Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Validate & Extract": {
      "main": [
        [
          {
            "node": "HTTP - Download CV PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Download CV PDF": {
      "main": [
        [
          {
            "node": "Extract from File - PDF Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File - PDF Text": {
      "main": [
        [
          {
            "node": "Code - Build LLM Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build LLM Prompt": {
      "main": [
        [
          {
            "node": "HTTP - LLM Scoring (Ollama)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - LLM Scoring (Ollama)": {
      "main": [
        [
          {
            "node": "Code - Parse Score & Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Parse Score & Status": {
      "main": [
        [
          {
            "node": "HTTP - Update Candidate in Backend",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge - Preserve Candidate Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Update Candidate in Backend": {
      "main": [
        [
          {
            "node": "Merge - Preserve Candidate Context",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge - Preserve Candidate Context": {
      "main": [
        [
          {
            "node": "IF - Check Accepted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Check Accepted": {
      "main": [
        [
          {
            "node": "Gmail - Accepted",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail - Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Accepted": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Rejected": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d2da91f6-f3a7-4f30-8690-aab34580ceca",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8560ccc64edfcdda273aeb154db2d9895569b0feb232aaf23fdb968b63e7fc95"
  },
  "id": "lvXbvphdKfq2hx9q",
  "tags": []
}